/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*-------------------------
Basic Setup
-------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: #fff;
    color: #494949;
    font-family: 'Poppins', serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*-------------------------
Headings
-------------------------*/
h1,
h2,
h3{
    font-weight: 300;
    font-family: 'Lora', serif;

}

h1{
    font-size: 2em;
    margin: 25px 20px 40px 20px;

}

h2{
    font-size: 1.85em;
    padding: 45px 10px;
}

h3{
    font-size: 1.5em;
    line-height: 30px;
}

h4{
    font-weight: 300;
    font-size: 1.25em;
    font-family: 'Lora', serif;
}

h5{
    font-weight: 300;
    font-size: 1.15em;
    font-family: 'Lora', serif;
}


/*-------------------------
Paragraphs
-------------------------*/
p{
    font-size: .85em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 8px 0;
}

/*-------------------------
Icons
-------------------------*/

i {
    font-size: 200%;
    color: #1E1E20;
    line-height: 120%;
    vertical-align: middle;
}

/*-------------------------
Header
-------------------------*/
header{
    background-image: url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}


.hero-text-box {
    position: absolute;
    width: 90%;
    margin: 0;
}


.logo{
    float: left;
    height: 40px;
    width: auto;
    border-radius: 50%;
    margin: 15px 10px 0 10px;
}


header h1 {
    width: 100%;
    margin-top: 60px;
    font-size: 2em;
    line-height: 50px;
    color: #1E1E20;
    padding: 10px 15px;
}


header h1 span {
    color: #fff;
}


header h2{
    font-size: .85em;
    float: left;
    color: #fff;
    margin: -20px 0 5px -20px;
}

h1{ margin-left: 15px;}


/*-------------------------
Mobile Nav
-------------------------*/
.main-nav{ 
    margin: 40px 5px;
    float: right;
    list-style: none;
    display: none;
    font-size: .95em;
}

.mobile-nav-icon{
    margin: 50px -100px 0 100px;
}
.mobile-nav-icon i{
    font-size: 200%;
    color: #fff;
}

.js--main-nav li {
    position: relative;
    display: initial;
}

.js--main-nav li a{
    color: #fff;
    text-decoration: none;

}

.js--main-nav ul li{
    list-style: none;
}

/*------------------------
Reusable Parts
------------------------*/

.row{
    width: 100%;
    margin: 0;
}

.box{
    padding: 1%;
}


/*-------------------------
Icons
-------------------------*/
i {
    font-size: 175%;
    color: #1E1E20;
    line-height: 120%;
    vertical-align: middle;
}

/*-----------------------
About
-----------------------*/

.section-about {
    display: flex;
    height: 200vh;
    margin: 20px;
    line-height: 28px;
}

.span-1-of-2{
    flex-direction: column;
    margin: 5px;
}

.bio:last-child{
    margin-top: 10px;
}

/*-----------------------
Work
-----------------------*/

.section-work{
    width: 100%;
    background-color: #b28e89;
    height: 160vh;
    line-height: 28px;
    text-align: center;
}
.section-work p{
    color: black;
}

.section-work i{
    text-align: center;
    margin: 15px 5px;
}

.span-1-of-3 p{
    width: auto;
    margin: 10px 5px;
    padding: 5px;
}

.span-1-of-3:first-child{
    margin-top: 20px;
}

/*-----------------------
Footer
-----------------------*/

footer{
    background-color: #e2e2e0;
    height: 100vh;
    width: auto;
    line-height: 28px;
    display: flex;
}

.section-contact{
    flex: wrap;
}

.span-1-of-3{
    text-align: center;
}
.contact-image{
    height: 175px;
    margin: 10px;
    border-radius: 45%;
    border: 5px solid rgba(86, 66, 66, 0.8);
}

.span-2-of-3{
    width: 90%;
    margin: auto;
    text-align: center;
}
.socialmedia-links ul{
    display: flex;
    align-self: center;
    justify-content: center;
}
.socialmedia-links ul li {
    list-style: none;
    margin: 0px 15px;
}

.socialmedia-links i{
    font-size: 150%;
}


 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 370px){
    body, html{ font-size: 1.26em;}
    header h1{ line-height: 60px;}
    .mobile-nav-icon{ margin: 50px -100px 0 100px;}
    .hero-text-box{ margin-top: 40px;}
    h3, h4, h5 { line-height: 50px;}
    p { line-height: 36px;}
    .section-about{ height: 250vh;}
    .section-work{height: 190vh;}
}

@media only screen and (min-width: 560px) and 
    (orientation: landscape){
        body, html{ font-size: 1em;}
        header{ height: 100vh;}
        header h1{ 
            margin-top: 15px;
            line-height: 40px;
        }
        header h2{ margin-top: -30px;}
        .mobile-nav-icon{ display:none;}
        .main-nav{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-top: auto;
            list-style: none;
        }

        .main-nav li{
        margin-right: 20px;
        }

        .main-nav li a:link,
        .main-nav li a:visited {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 90%;
            border-bottom: 3px solid transparent;
            transition: border-bottom 0.2s;
        }

        .main-nav li a:hover,
        .main-nav li a:active{
            padding: 2px 0px;
            border-bottom: 3px solid #1E1E20;
        }

        h3, h4, h5 { line-height: 35px;}
        p { line-height: 28px;}
        .section-about{ height: 200vh;}
        .section-work{ height: 200vh;}
        footer{ height: 160vh;}
}

@media only screen and (min-width:590px) and (max-width: 970px){
    header{ height: 100vh;}
    .mobile-nav-icon{ display:none;}
    .main-nav{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: auto;
        list-style: none;
    }

    .main-nav li{
    margin-right: 20px;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 90%;
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.2s;
    }

    .main-nav li a:hover,
    .main-nav li a:active{
        padding: 2px 0px;
        border-bottom: 3px solid #1E1E20;
    }

    .hero-text-box{ margin-top: 95px;}
    .section-about{ height: 130vh;}
    .section-work{height: 160vh;}
    footer{height: 120vh;}
}

@media only screen and (min-width: 768px){
    body, html{font-size: 1.2em;}
    header{ height: 70vh;}
    header h2{ margin-top: -30px;}
    .mobile-nav-icon{ display: none;}
    .main-nav{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: auto;
        list-style: none;
    }

    .main-nav li{
    margin-right: 20px;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 90%;
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.2s;
    }

    .main-nav li a:hover,
    .main-nav li a:active{
        padding: 2px 0px;
        border-bottom: 3px solid #1E1E20;
    }
    .hero-text-box{ margin-top: 95px;}
    .section-about{height: 80vh;}
    .section-work{ height: 80vh;}
    footer{ height: 65vh;}
}


@media only screen and (min-width: 767px) and
    (orientation: landscape){
        body, html{ font-size: 1.2em;}
        header{ height: 100vh;}
        .section-about{ height: 150vh;}
        .section-work{ height: 180vh;}
        footer{height: 130vh;}
}

@media only screen and (min-width: 1023px){
    body,html{ font-size: 1.4em;}
    header h1{ line-height: 70px;}
    .hero-text-box{margin-top: 200px;}
    h3{ margin-bottom: 20px;}
    p{ line-height: 45px;}
    footer{height: 50vh;}

}

@media only screen and (min-width: 1023px) and
    (orientation: landscape){
    body,html{font-size: 1.3em;}
    header{ height: 80vh;}
    .hero-text-box{ margin-top: 100px;}
    .section-about{ height: 100vh;}
    .section-work{ height: 110vh;}
    footer{ height: 70vh;}
    .contact-image{ 
        height: 228px;
        width: auto;
    }
}

@media only screen and (min-width: 1270px){
    body, html{ font-size: 1.3em;}
    header{ height: 100vh;}
    .hero-text-box{ margin-top: 180px;}
    .main-nav ul{ justify-content: flex-end;}
    .section-about{ height: 110vh;}
    .span-1-of-2{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
    }

    .span-1-of-2 .box .about:last-child{
        margin-top: 25px;
    }

    .section-work{ height: 115vh;}
    footer{ height: 90vh;}
}

@media only screen and (min-width: 1430px){
    body, html{ font-size: 1.3em;}
    header h1{ font-size: 2.3em;}
    .main-nav{ font-size: .75em;}
    .hero-text-box { margin-top: 210px;}
    p{ font-size: .85em;}
    h3, h4, h5{ line-height: 50px;}
    .section-work{ height:140vh;}
}
        


@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


